        <div class="container mtb">
            <div class="row">
                <div class="col-lg-8">
                    <h4><span style="color:red;">{{vm.failHeader}}</span></h4>
                    <div class="hline"></div>
                    <p>Contraindication must be resolved before attempting to wean.</p>
                    <form role="form">
                        <br />
                        <button ui-sref="wean.landing" type="button" class="btn btn-primary">Home</button>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>