        <div class="container mtb">
            <div class="row">
                <div class="col-lg-8">
                    <h4>{{vm.labValuesHeader}}</h4>
                    <div class="hline"></div>
                    <p>Patient Lab Values compliance evalution.</p>
                    <div ng-repeat="choice in vm.lab_values">
                        <p>
                            <input type="Button"
                                   ng-hide="choice.button"
                                   style="height:32px;width:78px"
                                   class="btn btn-info" value="{{choice.label}}"
                                   ng-disabled="!vm.disabled2"
                                   ng-click="vm.toggle(choice)"> {{choice.count}}{{ choice.button === false ? choice.symbol : ''}}
                        </p>
                        <div ng-hide="choice.toggle" class="col-lg-4 container">
                            <ul id="keyboard">
                                <li ng-click="choice.count = choice.count + '1'" class="letter">1</li>
                                <li ng-click="choice.count = choice.count + '2'" class="letter">2</li>
                                <li ng-click="choice.count = choice.count + '3'" class="letter">3</li>
                                <li ng-click="choice.count = choice.count + '4'" class="letter clearl">4</li>
                                <li ng-click="choice.count = choice.count + '5'" class="letter">5</li>
                                <li ng-click="choice.count = choice.count + '6'" class="letter">6</li>
                                <li ng-click="choice.count = choice.count + '7'" class="letter clearl">7</li>
                                <li ng-click="choice.count = choice.count + '8'" class="letter ">8</li>
                                <li ng-click="choice.count = choice.count + '9'" class="letter">9</li>
                                <li ng-click="choice.count = choice.count + '0'" class="letter">0</li>
                                <!--<li class="switch">abc</li>
                                    <li class="return">retur</li>
                                    <li class="delete lastitem"><</li>-->
                                <li ng-click="choice.count = ''" class="switch">Clear</li>
                                <li ng-click="vm.toggle(choice)" class="return">Enter</li>
                                <li ng-click="choice.count = choice.count.slice(0,-1)" class="delete lastitem"><</li>
                            </ul>
                        </div>
                    </div>
                    <div align="right">
                        <br />
                        <button ng-click="vm.selected()" type="button" class="btn btn-primary" ng-disabled="vm.disabled" @*disabled*@>Continue</button>
                        <button type="button" ng-click="vm.goBack()" class="btn btn-theme">Back</button>
                        <br />
                    </div>
                </div>
            </div>
        </div>