<div class="container mtb">
    <div class="row">
        <div class="col-lg-8">
            <h4>{{vm.landingHeader}}</h4>
            <div class="hline"></div>
            <p>Click to begin checking to begin the weaning procedure.</p>
            <form role="form">
                <br />
                <a ui-sref="wean.contra" type="button" class="btn btn-primary" ng-click="vm.selected()">Let's Begin!</a>
                <br />
                <br />
                <br />
            </form>
        </div>
        <div class="col-lg-4">
            <h4>Patient Normal Values examples</h4>
            <div class="hline"></div>
            <p>
                <b>Saturation: FiO2
                    <=5 0%</b>
                        <br />
            </p>
            <p>
                <b>Peep: Peep
                    <=8 </b>
                        <br />
            </p>
            <p>
                <b>Patient on
                    <u>No</u> or
                    <u>Low</u> dosage of Vasopressor</b>
                <br />
            </p>
        </div>
    </div>
</div>