<div>
    <div id="blue" class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <h3>The Weaning Protocol</h3>
            </div>
        </div>
    </div>
    <div ui-sref-active="active" ui-sref="wean.landing"></div>
    <div ui-view></div>
    <!--<button ui-sref="wean.labs" type="button" class="btn btn-primary" value="Send">Continue</button>
    <button ng-click="vm.backBtnTest()" type="button" class="btn btn-theme">Back</button>
    <br/>
    <br/>-->
</div>